html,
body {
	margin: 0;
	height: 100%;
	background-color: black;
	color: white;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-direction-row {
	flex-direction: row;
}

.container {
}

.title {
	font-family: "Playfair Display", serif;
	font-size: 3.2em;
}

.description {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
}
